body{
    background-color: #101010;
}

.txt{
    font-size: 20;
    color: white;
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 30px;
}

.caixa{
    display: block;
    margin-top: 200px;
    padding: 20px;
    gap: 20px;
}