body{
    background-color: #2b2929;
    height: 150vh;
}

th, td{
    font-size: 40px;
    text-align: center;
    border: 3px solid black;
    padding: 30px;
    border-color: rgb(245, 243, 243);
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}  

.titulo{
    text-align: center;
    line-height: 100px;
}

.tabela{
    background-color: rgb(158, 157, 157);
    border: 3px solid black;
    border-radius: 15px;
}



.logo img{
    width: 150px;
    height: 150px;
    position: relative;
    top: 20px;
    
}

.titulo{
    position: relative;
    color: rgb(102, 7, 7);
    display: flex;
    justify-content: center;
    bottom: 180px;
    font-size: 46;
}

.card{
    background-color: brown;
    position: relative;
    border: 5px solid black;
    width: 500px;
    height: 850px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    bottom: 200px;
    text-align: center;
    font-size: 14;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card>img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card>p{
    font-size: 25px;
    padding: 5px;
}

.btn{
    font-size: 17px;
    padding: 10px 50px;
    border: none;
    background-color: #202020;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
